numpy==1.26.4
pandas==2.2.2
seaborn==0.13.2
matplotlib==3.10.0
geopy==2.4.1
folium==0.20.0
tqdm==4.67.1
nltk==3.9.1
scipy==1.13.1
wordcloud==1.9.4
scikit-learn==1.6.1
numpy==1.26.4
tensorflow==2.19.0
keras==3.10.0